Repository Kwaadpepper/QueZap: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix', sh -c 'cd back && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

refactor(front): setup tailwindcss as alias
  front/package.json
  front/src/app/app.css
  front/src/styles/index.css
  front/src/styles/tailwindcss.css
Due: sh -c 'cd front && npm run lint:css:fix'

refactor(front): clean up app layout and loading bar
  front/src/app/app.html
  front/src/app/app.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add LayoutSettings service and tests
  front/src/app/app.html
  front/src/app/app.ts
  front/src/app/core/services/index.ts
  front/src/app/core/services/layout-settings.spec.ts
  front/src/app/core/services/layout-settings.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): enhance home component with animations and layout updates
  front/src/app/home/home.html
  front/src/app/home/home.ts
  front/src/assets/images/quezap.svg
  front/src/styles/quezap-theme.css
  front/src/styles/tailwindcss.css
  front/src/themes/Quezap.ts
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

refactor(front): replace ButtonModule with ButtonDirective
  front/src/app/shared/components/debugbar/debugbar.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): enable OnPush change detection strategy
  front/src/app/template/template.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

chore(front): fix tailwindcss intel sens error
  front/.vscode/settings.json
  front/package.json
  front/src/styles/index.css
  front/src/styles/tailwind.css
Due: sh -c 'cd front && npm run lint:css:fix'

style(front): update debugbar styles for consistency
  front/src/app/shared/components/debugbar/debugbar.html
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add home component with join and create game features
  front/src/app/home/home.css
  front/src/app/home/home.html
  front/src/app/home/home.ts
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

fix(front): translate "About" to "À propos"
  front/src/app/app.html
Due: sh -c 'cd front && npm run lint:ts:fix'

chore: upgrade Angular dependencies to version 21.0.0-rc.1 and update TypeScript configuration
  front/bun.lock
  front/package.json
  front/tsconfig.json
Due: none

chore(front): migrate tests from Jasmine to Jest
  front/angular.json
  front/bun.lock
  front/jest.config.ts
  front/package.json
  front/tsconfig.spec.json
Due: sh -c 'cd front && npm run lint:ts:fix'

style(front): add web app manifest and icons for QueZap
  front/public/apple-touch-icon.png
  front/public/favicon-96x96.png
  front/public/favicon.ico
  front/public/favicon.svg
  front/public/site.webmanifest
  front/public/web-app-manifest-192x192.png
  front/public/web-app-manifest-512x512.png
  front/src/index.html
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add FieldError directive for form validation
  front/src/app/core/directives/field-error.spec.ts
  front/src/app/core/directives/field-error.ts
  front/src/app/core/directives/index.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): implement dynamic title strategy for routing
  front/src/app/app.config.ts
  front/src/app/app.routes.ts
  front/src/app/core/strategies/dynamic-title.ts
  front/src/app/core/strategies/index.ts
  front/src/app/features/admin/routes.ts
  front/src/app/features/pages/routes.ts
  front/src/app/features/routes.ts
  front/src/main.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): correct MOCK_DELAY usage in ThemeMockService
  front/src/app/features/admin/themes/services/theme-mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

chore(front): setup zod on fr locale
  front/bun.lock
  front/src/app/core/tools/index.ts
  front/src/app/core/tools/zod.ts
  front/src/app/features/admin/account/services/register-mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): simplify error message handling
  front/src/app/core/directives/field-error.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

docs(front): update account creation instructions
  front/src/assets/markdown/how-it-is-working.md
Due: none

feat(front): add registration modal and validation handling
  front/src/app/app.html
  front/src/app/app.ts
  front/src/app/core/errors/external-validation-error.ts
  front/src/app/core/errors/index.ts
  front/src/app/core/errors/super-refine-external-error.ts
  front/src/app/core/tools/index.ts
  front/src/app/core/tools/zod-to-external-validation-error.ts
  front/src/app/features/admin/account/components/index.ts
  front/src/app/features/admin/account/components/register-modal/register-modal.html
  front/src/app/features/admin/account/components/register-modal/register-modal.spec.ts
  front/src/app/features/admin/account/components/register-modal/register-modal.ts
  front/src/app/features/admin/account/services/index.ts
  front/src/app/features/admin/account/services/register-mock.ts
  front/src/app/features/admin/account/services/register.ts
  front/src/app/home/home.html
  front/src/app/home/home.ts
  front/src/app/template/template.html
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): move theme-list in dedicaced pages dir
  front/src/app/features/admin/themes/pages/index.ts
  front/src/app/features/admin/themes/pages/theme-list/theme-list.css
  front/src/app/features/admin/themes/pages/theme-list/theme-list.html
  front/src/app/features/admin/themes/pages/theme-list/theme-list.spec.ts
  front/src/app/features/admin/themes/pages/theme-list/theme-list.ts
  front/src/app/features/admin/themes/routes.ts
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

fix(front): update success and error messages in registration
  front/src/app/features/admin/account/components/register-modal/register-modal.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

style(front): update theme colors for better contrast on toasts
  front/src/themes/Quezap.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add account activation feature
  front/src/app/features/activation/account-activation/account-activation.css
  front/src/app/features/activation/account-activation/account-activation.html
  front/src/app/features/activation/account-activation/account-activation.spec.ts
  front/src/app/features/activation/account-activation/account-activation.ts
  front/src/app/features/activation/routes.ts
  front/src/app/features/activation/services/activation-account-mock.ts
  front/src/app/features/activation/services/activation-account.ts
  front/src/app/features/activation/services/index.ts
  front/src/app/features/routes.ts
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

feat(front): enhance registration form error handling
  front/src/app/core/errors/external-validation-error.ts
  front/src/app/features/admin/account/components/register-modal/register-modal.html
  front/src/app/features/admin/account/components/register-modal/register-modal.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): remove unused media query for motion
  front/src/app/features/activation/account-activation/account-activation.css
Due: sh -c 'cd front && npm run lint:css:fix'

refactor(front): remove unused animation module
  front/src/app/home/home.html
  front/src/app/home/home.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): move core services to dedicated directories
  front/src/app/core/services/config/config.spec.ts
  front/src/app/core/services/config/config.ts
  front/src/app/core/services/easing/easing.ts
  front/src/app/core/services/index.ts
  front/src/app/core/services/layout/layout-settings.spec.ts
  front/src/app/core/services/layout/layout-settings.ts
  front/src/app/core/services/loading/loading-status.spec.ts
  front/src/app/core/services/loading/loading-status.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): make Theme properties readonly
  front/src/app/domain/models/theme.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): move FieldError directive to shared
  front/src/app/features/admin/account/components/register-modal/register-modal.ts
  front/src/app/shared/directives/field-error.spec.ts
  front/src/app/shared/directives/field-error.ts
  front/src/app/shared/directives/index.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): move loading progression interceptor to dedicated directory
  front/src/app/core/interceptors/index.ts
  front/src/app/core/interceptors/loading-progression/loading-progression-interceptor.spec.ts
  front/src/app/core/interceptors/loading-progression/loading-progression-interceptor.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add refresh session interceptor and mock service
  front/src/app/core/interceptors/index.ts
  front/src/app/core/interceptors/refresh-session/refresh-session-interceptor.spec.ts
  front/src/app/core/interceptors/refresh-session/refresh-session-interceptor.ts
  front/src/app/core/services/authentication/authentication-mock.ts
  front/src/app/core/services/authentication/authentication.spec.ts
  front/src/app/core/services/authentication/authentication.ts
  front/src/app/core/services/index.ts
  front/src/app/core/tokens/index.ts
  front/src/app/core/tokens/is-refreshing-session-token.ts
  front/src/app/domain/models/auth-tokens.ts
  front/src/app/domain/models/authenticated-user.ts
  front/src/app/domain/models/index.ts
  front/src/app/domain/types/common.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add authenticated user store
  front/src/app/shared/stores/authenticated-user.ts
  front/src/app/shared/stores/index.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add authentication service to app config
  front/src/app/app.config.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): mark form as touched on registration error
  front/src/app/features/admin/account/components/register-modal/register-modal.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): move authentication service and mock
  front/src/app/app.config.ts
  front/src/app/auth/services/authentication/authentication-mock.ts
  front/src/app/auth/services/authentication/authentication.spec.ts
  front/src/app/auth/services/authentication/authentication.ts
  front/src/app/auth/services/index.ts
  front/src/app/core/services/index.ts
  front/src/app/shared/stores/authenticated-user.ts
  front/tsconfig.app.json
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add token persistence and app initializer
  front/src/app/app.config.ts
  front/src/app/app.initializer.ts
  front/src/app/auth/services/index.ts
  front/src/app/auth/services/token-persistance/token-persitance.spec.ts
  front/src/app/auth/services/token-persistance/token-persitance.ts
  front/src/app/shared/stores/authenticated-user.ts
  front/src/index.html
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add login component and routing
  front/src/app/app.routes.ts
  front/src/app/auth/pages/login/login.css
  front/src/app/auth/pages/login/login.html
  front/src/app/auth/pages/login/login.spec.ts
  front/src/app/auth/pages/login/login.ts
  front/src/app/auth/routes.ts
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

refactor(front): move auth into features dir
  front/src/app/app.config.ts
  front/src/app/app.routes.ts
  front/src/app/features/auth/pages/login/login.css
  front/src/app/features/auth/pages/login/login.html
  front/src/app/features/auth/pages/login/login.spec.ts
  front/src/app/features/auth/pages/login/login.ts
  front/src/app/features/auth/routes.ts
  front/src/app/features/auth/services/authentication/authentication-mock.ts
  front/src/app/features/auth/services/authentication/authentication.spec.ts
  front/src/app/features/auth/services/authentication/authentication.ts
  front/src/app/features/auth/services/index.ts
  front/src/app/features/auth/services/token-persistance/token-persitance.spec.ts
  front/src/app/features/auth/services/token-persistance/token-persitance.ts
  front/src/app/shared/stores/authenticated-user.ts
  front/tsconfig.app.json
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

refactor(front): regroup pages in app dir
  front/src/app/app.routes.ts
  front/src/app/features/routes.ts
  front/src/app/pages/about/about.html
  front/src/app/pages/about/about.spec.ts
  front/src/app/pages/about/about.ts
  front/src/app/pages/home/home.css
  front/src/app/pages/home/home.html
  front/src/app/pages/home/home.spec.ts
  front/src/app/pages/home/home.ts
  front/src/app/pages/licence/licence.html
  front/src/app/pages/licence/licence.spec.ts
  front/src/app/pages/licence/licence.ts
  front/src/app/pages/routes.ts
  front/src/app/pages/template/template.html
  front/src/app/pages/template/template.spec.ts
  front/src/app/pages/template/template.ts
  front/tsconfig.app.json
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

Path conditions:
  sh -c 'cd front && npm run lint:ts:fix': any of: **/*.{ts,html}
  sh -c 'cd front && npm run lint:css:fix': any of: **/*.css
  sh -c 'cd back && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon': (any of: **/*.gradle.kts) or (any of: **/*.java)
