Repository Kwaadpepper/QueZap: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix', sh -c 'cd back && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

.lintstagedrc.json:

{
  "**/*.{ts,html}": [
    "sh -c 'cd front && npm run lint:ts:fix'"
  ],
  "**/*.css": [
    "sh -c 'cd front && npm run lint:css:fix'"
  ],
  "**/*.gradle.kts": [
    "sh -c 'cd back && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'"
  ],
  "**/*.java": [
    "sh -c 'cd back && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'"
  ]
}

feat(front): add QuestionTheme component and integrate it
  front/src/app/features/quizz/components/question-view/parts/index.ts
  front/src/app/features/quizz/components/question-view/parts/question-theme/question-theme.html
  front/src/app/features/quizz/components/question-view/parts/question-theme/question-theme.spec.ts
  front/src/app/features/quizz/components/question-view/parts/question-theme/question-theme.ts
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.html
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

style(front): enhance picture display with description
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.html
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): enhance question handling with answers
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
  front/src/app/features/quizz/services/session-observer/session-observer.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add question components and styles
  front/src/app/features/quizz/components/question-view/index.ts
  front/src/app/features/quizz/components/question-view/parts/index.ts
  front/src/app/features/quizz/components/question-view/parts/picture/picture.html
  front/src/app/features/quizz/components/question-view/parts/question-alert/question-alert.html
  front/src/app/features/quizz/components/question-view/parts/question-alert/question-alert.spec.ts
  front/src/app/features/quizz/components/question-view/parts/question-alert/question-alert.ts
  front/src/app/features/quizz/components/question-view/parts/question-answer/question-answer.css
  front/src/app/features/quizz/components/question-view/parts/question-answer/question-answer.html
  front/src/app/features/quizz/components/question-view/parts/question-answer/question-answer.spec.ts
  front/src/app/features/quizz/components/question-view/parts/question-answer/question-answer.ts
  front/src/app/features/quizz/components/question-view/parts/question-icon/question-icon.spec.ts
  front/src/app/features/quizz/components/question-view/parts/question-icon/question-icon.ts
  front/src/app/features/quizz/components/question-view/parts/timer/question-timer.ts
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.html
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.ts
  front/src/assets/images/answers/circle.svg
  front/src/assets/images/answers/cross.svg
  front/src/assets/images/answers/diamond.svg
  front/src/assets/images/answers/hexagon.svg
  front/src/assets/images/answers/pentagon.svg
  front/src/assets/images/answers/square.svg
  front/src/assets/images/answers/star.svg
  front/src/assets/images/answers/triangle.svg
  front/src/styles/quezap-theme/questions.css
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

style(front): update input focus styles for better visibility
  front/src/app/features/quizz/components/question-view/parts/question-answer/question-answer.css
Due: sh -c 'cd front && npm run lint:css:fix'

feat(front): implement binary question component
  front/src/app/features/quizz/components/question-view/binary/binary-question.html
  front/src/app/features/quizz/components/question-view/binary/binary-question.ts
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.html
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): enhance boolean and binary question components
  front/src/app/features/quizz/components/question-view/binary/binary-question.ts
  front/src/app/features/quizz/components/question-view/boolean/boolean-question.html
  front/src/app/features/quizz/components/question-view/boolean/boolean-question.ts
  front/src/app/features/quizz/components/question-view/parts/question-answer/question-answer.html
  front/src/app/features/quizz/components/question-view/parts/question-answer/question-answer.ts
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.ts
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.html
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): implement timer functionality for questions
  front/src/app/features/quizz/components/question-view/binary/binary-question.html
  front/src/app/features/quizz/components/question-view/binary/binary-question.ts
  front/src/app/features/quizz/components/question-view/boolean/boolean-question.html
  front/src/app/features/quizz/components/question-view/boolean/boolean-question.ts
  front/src/app/features/quizz/components/question-view/parts/timer/question-timer.html
  front/src/app/features/quizz/components/question-view/parts/timer/question-timer.ts
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.html
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.ts
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.html
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.ts
  front/src/app/features/quizz/stores/index.ts
  front/src/app/features/quizz/stores/question-timer.ts
  front/src/app/features/routes.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): refactor question handling and timer logic
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.ts
  front/src/app/features/quizz/stores/active-session.ts
  front/src/app/features/quizz/stores/question-timer.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): update exit button and layout settings
  front/src/app/app.html
  front/src/app/app.ts
  front/src/app/features/quizz/components/exit-button/exit-button.html
  front/src/app/features/quizz/pages/lobby/lobby.html
  front/src/app/features/quizz/pages/lobby/lobby.ts
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.html
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): end session when no more questions are available
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): prevent session start if ended
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): remove unused constructor and effect
  front/src/app/features/quizz/components/question-view/parts/question-answer/question-answer.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): enhance session management and error handling
  front/src/app/features/quizz/components/nickname-chooser/nickname-chooser.ts
  front/src/app/features/quizz/services/session-api/session-api-mock.ts
  front/src/app/features/quizz/services/session-api/session-api.ts
  front/src/app/features/quizz/services/session.mock.ts
  front/src/app/features/quizz/stores/active-session.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add debug logs for session actions
  front/src/app/features/quizz/components/debug-toolbar/debug-toolbar.ts
  front/src/app/features/quizz/pages/lobby/lobby.ts
  front/src/app/features/quizz/services/session-api/session-api-mock.ts
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): update navigation for expired session
  front/src/app/features/quizz/pages/join/join.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add debug logs for session streams
  front/src/app/features/quizz/stores/active-session.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): prevent memory leaks in questions stream
  front/src/app/features/quizz/stores/active-session.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): enhance session management and state handling
  front/src/app/core/types/service-output.ts
  front/src/app/domain/models/session.ts
  front/src/app/features/quizz/pages/lobby/lobby.ts
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.ts
  front/src/app/features/quizz/services/session-api/session-api-mock.ts
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
  front/src/app/features/quizz/services/session-observer/session-observer.ts
  front/src/app/features/quizz/stores/active-session.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

style(front): add classes to nickname chooser component
  front/src/app/features/quizz/pages/lobby/lobby.html
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add debug logs for theme operations
  front/src/app/features/admin/themes/services/theme-mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add Quezap model and related components
  front/src/app/domain/models/index.ts
  front/src/app/domain/models/quezap.ts
  front/src/app/features/admin/quezaps/components/index.ts
  front/src/app/features/admin/quezaps/components/quezap-card/quezap-card.html
  front/src/app/features/admin/quezaps/components/quezap-card/quezap-card.spec.ts
  front/src/app/features/admin/quezaps/components/quezap-card/quezap-card.ts
  front/src/app/features/admin/quezaps/pages/index.ts
  front/src/app/features/admin/quezaps/pages/quezap-list/quezap-list.html
  front/src/app/features/admin/quezaps/pages/quezap-list/quezap-list.spec.ts
  front/src/app/features/admin/quezaps/pages/quezap-list/quezap-list.ts
  front/src/app/features/admin/quezaps/routes.ts
  front/src/app/features/admin/quezaps/services/index.ts
  front/src/app/features/admin/quezaps/services/quezap-mock.ts
  front/src/app/features/admin/quezaps/services/quezap.mock.ts
  front/src/app/features/admin/quezaps/services/quezap.ts
  front/src/app/features/admin/quezaps/stores/index.ts
  front/src/app/features/admin/quezaps/stores/quezap-page.ts
  front/src/app/features/admin/routes.ts
  front/src/app/layout/navigation/admin-nav/admin-nav.html
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add Quezap creation functionality
  front/src/app/features/admin/quezaps/pages/index.ts
  front/src/app/features/admin/quezaps/pages/quezap-create/quezap-create.html
  front/src/app/features/admin/quezaps/pages/quezap-create/quezap-create.spec.ts
  front/src/app/features/admin/quezaps/pages/quezap-create/quezap-create.ts
  front/src/app/features/admin/quezaps/pages/quezap-list/quezap-list.html
  front/src/app/features/admin/quezaps/pages/quezap-list/quezap-list.ts
  front/src/app/features/admin/quezaps/routes.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): remove theme references from questions
  front/src/app/domain/models/questions.ts
  front/src/app/features/quizz/components/question-view/binary/binary-question.html
  front/src/app/features/quizz/components/question-view/binary/binary-question.ts
  front/src/app/features/quizz/components/question-view/boolean/boolean-question.html
  front/src/app/features/quizz/components/question-view/boolean/boolean-question.ts
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.html
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.ts
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): remove QuestionTheme component references
  front/src/app/features/quizz/components/question-view/binary/binary-question.ts
  front/src/app/features/quizz/components/question-view/boolean/boolean-question.ts
  front/src/app/features/quizz/components/question-view/index.ts
  front/src/app/features/quizz/components/question-view/parts/index.ts
  front/src/app/features/quizz/components/question-view/parts/question-theme/question-theme.html
  front/src/app/features/quizz/components/question-view/parts/question-theme/question-theme.spec.ts
  front/src/app/features/quizz/components/question-view/parts/question-theme/question-theme.ts
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add TruncatePipe for string truncation
  front/src/app/shared/pipes/index.ts
  front/src/app/shared/pipes/truncate.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): implement Quezap editor components
  front/src/app/core/tools/index.ts
  front/src/app/core/tools/scroll-to.ts
  front/src/app/domain/models/questions.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/index.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/question-editor.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/question-editor.spec.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/question-editor.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-list-view/question-list-view.css
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-list-view/question-list-view.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-list-view/question-list-view.spec.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-list-view/question-list-view.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/quezap-editor.html
  front/src/app/features/admin/quezaps/components/quezap-editor/quezap-editor.spec.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/quezap-editor.ts
  front/src/app/features/admin/quezaps/pages/quezap-create/quezap-create.html
  front/src/app/features/admin/quezaps/pages/quezap-create/quezap-create.ts
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

refactor(front): simplify selected index handling
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-list-view/question-list-view.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-list-view/question-list-view.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): remove unused ExitButton import
  front/src/app/app.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add question editor and type selector components
  front/src/app/features/admin/quezaps/components/quezap-card/quezap-card.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/index.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/type-selector/type-selector.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/type-selector/type-selector.spec.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/type-selector/type-selector.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/question-editor.css
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/question-editor.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/question-editor.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/quezap-editor.html
  front/src/app/features/admin/quezaps/components/quezap-editor/quezap-editor.ts
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

feat(front): add limit selector component
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/index.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/limit-selector/limit-selector.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/limit-selector/limit-selector.spec.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/limit-selector/limit-selector.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/type-selector/type-selector.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/question-editor.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/question-editor.ts
  front/src/app/shared/directives/field-error.ts
  front/src/app/shared/pipes/index.ts
  front/src/app/shared/pipes/minutes.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add phrase editor component
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/index.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/phrase-editor/phrase-editor.css
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/phrase-editor/phrase-editor.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/phrase-editor/phrase-editor.spec.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/phrase-editor/phrase-editor.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/question-editor.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/question-editor.ts
  front/src/app/features/quizz/components/question-view/binary/binary-question.html
  front/src/app/features/quizz/components/question-view/boolean/boolean-question.html
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.html
  front/src/styles/quezap-theme/questions.css
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

refactor(front): simplify phrase handling in editor
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/phrase-editor/phrase-editor.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/phrase-editor/phrase-editor.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

style(front): add pointer-events-none to loading bar
  front/src/app/app.html
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add title editor component
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/index.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/question-editor.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/question-editor.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-list-view/question-list-view.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-list-view/question-list-view.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/title-editor/title-editor.css
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/title-editor/title-editor.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/title-editor/title-editor.spec.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/title-editor/title-editor.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/quezap-editor.html
  front/src/app/features/admin/quezaps/components/quezap-editor/quezap-editor.ts
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

fix(front): update question limit display format
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-list-view/question-list-view.html
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-list-view/question-list-view.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): correct class name for button group
  front/src/app/features/quizz/components/debug-toolbar/debug-toolbar.css
  front/src/app/features/quizz/components/debug-toolbar/debug-toolbar.html
  front/src/app/features/quizz/components/debug-toolbar/debug-toolbar.ts
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

style(front): refine input styles for answer options
  front/src/app/features/quizz/components/question-view/parts/question-answer/question-answer.css
  front/src/app/features/quizz/components/question-view/parts/question-answer/question-answer.ts
  front/src/app/features/quizz/components/question-view/parts/question-icon/question-icon.ts
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

fix(front): update import paths for shared components
  front/eslint.config.mjs
  front/src/app/core/guards/auth/authenticated-guard.spec.ts
  front/src/app/core/guards/auth/authenticated-guard.ts
  front/src/app/core/guards/auth/unauthenticated-guard.spec.ts
  front/src/app/core/guards/auth/unauthenticated-guard.ts
  front/src/app/features/activation/account-activation/account-activation.ts
  front/src/app/features/admin/account/components/register-modal/register-modal.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/parts/limit-selector/limit-selector.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-editor/question-editor.ts
  front/src/app/features/admin/quezaps/components/quezap-editor/parts/question-list-view/question-list-view.ts
  front/src/app/features/admin/quezaps/pages/quezap-list/quezap-list.ts
  front/src/app/features/admin/themes/components/theme-editor/theme-editor.ts
  front/src/app/features/auth/components/logout-button/logout-button.ts
  front/src/app/features/auth/components/reset-password-form/reset-password-form.ts
  front/src/app/features/auth/pages/forgotten-password/forgotten-password.ts
  front/src/app/features/auth/pages/login/login.ts
  front/src/app/features/quizz/components/join-form/join-form.ts
  front/src/app/features/quizz/components/nickname-chooser/nickname-chooser.ts
  front/src/app/features/quizz/components/participant-list/participant-list.ts
  front/src/app/features/quizz/pages/join/join.ts
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.ts
  front/src/app/pages/about/about.ts
  front/src/app/pages/licence/licence.ts
Due: sh -c 'cd front && npm run lint:ts:fix'
