Repository Kwaadpepper/QueZap: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix', sh -c 'cd back && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

.lintstagedrc.json:

{
  "**/*.{ts,html}": [
    "sh -c 'cd front && npm run lint:ts:fix'"
  ],
  "**/*.css": [
    "sh -c 'cd front && npm run lint:css:fix'"
  ],
  "**/*.gradle.kts": [
    "sh -c 'cd back && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'"
  ],
  "**/*.java": [
    "sh -c 'cd back && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'"
  ]
}

fix(front): update internal path pattern for ESLint
  front/eslint.config.mjs
Due: none

refactor(front): update paths in tsconfig.app.json
  front/tsconfig.app.json
Due: none

feat(front): add environment configuration and zod validation
  front/bun.lock
  front/package.json
  front/src/app/app.config.ts
  front/src/app/core/services/config.ts
  front/src/environments/environment.development.ts
  front/src/environments/environment.template.ts
  front/src/environments/environment.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): update workbench color customizations
  front/.vscode/settings.json
Due: none

chore: add SVG files for Quzap branding
  front/resources/images/quezap.svg
  front/resources/images/quzap-full.svg
  front/resources/images/quzap-inkscape.svg
  front/resources/images/quzap-logo.svg
Due: none

refactor(front): add image to template example
  front/src/app/template/template.html
  front/src/app/template/template.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add appName to environment configurations
  front/src/app/app.config.ts
  front/src/environments/environment.development.ts
  front/src/environments/environment.template.ts
  front/src/environments/environment.ts
  front/src/index.html
  front/src/main.ts
  front/tsconfig.app.json
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add file replacements for development config
  front/angular.json
  front/package.json
Due: none

style(front): update dimensions and viewBox for SVG files
  front/resources/images/quezap.svg
  front/resources/images/quzap-logo.svg
Due: none

feat(front): add debug bar and enhance environment config
  front/angular.json
  front/bun.lock
  front/package.json
  front/src/app/app.html
  front/src/app/app.ts
  front/src/app/core/components/debugbar/debugbar.html
  front/src/app/core/components/debugbar/debugbar.spec.ts
  front/src/app/core/components/debugbar/debugbar.ts
  front/src/app/core/services/config.ts
  front/src/environments/environment.development.ts
  front/src/environments/environment.template.ts
  front/src/environments/environment.ts
  front/src/styles.css
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

feat(front): add MIT License file
  front/LICENCE.md
Due: none

style(front): add styles for anchor elements
  front/src/styles.css
Due: sh -c 'cd front && npm run lint:css:fix'

feat(front): enhance debug bar with template link
  front/src/app/core/components/debugbar/debugbar.html
  front/src/app/core/components/debugbar/debugbar.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add color palette display and improve template
  front/src/app/template/template.html
  front/src/app/template/template.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): add missing RouterModule to debug bar component
  front/src/app/core/components/debugbar/debugbar.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat: add markdown viewer component and integrate with about and licence pages
  front/LICENCE.md
  front/angular.json
  front/bun.lock
  front/package.json
  front/resources/markdown/how-it-is-working.md
  front/src/app/app.config.ts
  front/src/app/app.html
  front/src/app/app.ts
  front/src/app/core/components/index.ts
  front/src/app/core/components/markdown-viewer/markdow-viewer.html
  front/src/app/core/components/markdown-viewer/markdow-viewer.spec.ts
  front/src/app/core/components/markdown-viewer/markdow-viewer.ts
  front/src/app/features/pages/about/about.html
  front/src/app/features/pages/about/about.spec.ts
  front/src/app/features/pages/about/about.ts
  front/src/app/features/pages/licence/licence.html
  front/src/app/features/pages/licence/licence.spec.ts
  front/src/app/features/pages/licence/licence.ts
  front/src/app/features/pages/routes.ts
  front/src/app/features/routes.ts
  front/src/styles.css
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

style(front): increase h1 font size to 3xl
  front/src/styles.css
Due: sh -c 'cd front && npm run lint:css:fix'

style(front): add cursor pointer to anchor elements
  front/src/styles.css
Due: sh -c 'cd front && npm run lint:css:fix'

feat(front): enhance admin navigation and routing
  front/src/app/app.html
  front/src/app/app.ts
  front/src/app/features/admin/dashboard/routes.ts
  front/src/app/features/admin/routes.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): update home component structure and content
  front/src/app/features/admin/dashboard/home/home.css
  front/src/app/features/admin/dashboard/home/home.html
  front/src/app/features/admin/dashboard/home/home.spec.ts
  front/src/app/features/admin/dashboard/home/home.ts
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

refactor: moves resources to src/assets
  front/angular.json
  front/src/assets/fonts/Lexend-Regular.woff
  front/src/assets/fonts/Lexend-Regular.woff2
  front/src/assets/fonts/subset-Bangers-Regular.woff
  front/src/assets/fonts/subset-Bangers-Regular.woff2
  front/src/assets/images/quezap.svg
  front/src/assets/images/quzap-full.svg
  front/src/assets/images/quzap-inkscape.svg
  front/src/assets/images/quzap-logo.svg
  front/src/assets/markdown/how-it-is-working.md
  front/src/styles.css
Due: sh -c 'cd front && npm run lint:css:fix'

refactor(front): organize styles
  front/angular.json
  front/src/styles/fonts.css
  front/src/styles/index.css
  front/src/styles/quezap-theme.css
Due: sh -c 'cd front && npm run lint:css:fix'

refactor(front): update ESLint configuration and HTML templates
  front/.vscode/settings.json
  front/eslint.config.mjs
  front/src/app/core/components/debugbar/debugbar.html
  front/src/app/core/components/markdown-viewer/markdow-viewer.html
  front/src/app/template/template.html
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(back): add offset and limit pagination support
  back/modules/shared/src/main/java/com/quezap/lib/pagination/Pagination.java
  back/modules/shared/src/test/java/com/quezap/lib/pagination/PageOfTest.java
  back/quezap-api/src/main/java/com/quezap/api/v1/dto/request/PaginationDto.java
  back/quezap-api/src/main/java/com/quezap/api/v1/mappers/PaginationMapper.java
  resources/Bruno/QueZap/Questions/Find Questions.bru
  resources/Bruno/QueZap/Themes/Find Themes.bru
Due: sh -c 'cd back && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

feat(front): add theme management with pagination support
  front/bun.lock
  front/package.json
  front/src/app/app.config.ts
  front/src/app/app.ts
  front/src/app/core/components/debugbar/debugbar.ts
  front/src/app/core/services/config.ts
  front/src/app/core/services/index.ts
  front/src/app/core/types/index.ts
  front/src/app/core/types/pagination.ts
  front/src/app/domain/models/index.ts
  front/src/app/domain/models/theme.ts
  front/src/app/domain/types/common.ts
  front/src/app/domain/types/index.ts
  front/src/app/features/admin/themes/components/index.ts
  front/src/app/features/admin/themes/components/theme-card/theme-card.css
  front/src/app/features/admin/themes/components/theme-card/theme-card.html
  front/src/app/features/admin/themes/components/theme-card/theme-card.spec.ts
  front/src/app/features/admin/themes/components/theme-card/theme-card.ts
  front/src/app/features/admin/themes/routes.ts
  front/src/app/features/admin/themes/services/index.ts
  front/src/app/features/admin/themes/services/theme-mock.ts
  front/src/app/features/admin/themes/services/theme.mock.ts
  front/src/app/features/admin/themes/services/theme.ts
  front/src/app/features/admin/themes/stores/index.ts
  front/src/app/features/admin/themes/stores/theme-page.ts
  front/src/app/features/admin/themes/theme-list/theme-list.css
  front/src/app/features/admin/themes/theme-list/theme-list.html
  front/src/app/features/admin/themes/theme-list/theme-list.spec.ts
  front/src/app/features/admin/themes/theme-list/theme-list.ts
  front/src/environments/environment.development.ts
  front/src/environments/environment.template.ts
  front/src/environments/environment.ts
  front/tsconfig.app.json
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

refactor(front): move debugbar and markdown to shared components
  front/src/app/app.ts
  front/src/app/features/pages/about/about.ts
  front/src/app/features/pages/licence/licence.ts
  front/src/app/shared/components/debugbar/debugbar.html
  front/src/app/shared/components/debugbar/debugbar.spec.ts
  front/src/app/shared/components/debugbar/debugbar.ts
  front/src/app/shared/components/index.ts
  front/src/app/shared/components/markdown-viewer/markdow-viewer.html
  front/src/app/shared/components/markdown-viewer/markdow-viewer.spec.ts
  front/src/app/shared/components/markdown-viewer/markdow-viewer.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): simplify pagination methods
  front/src/app/features/admin/themes/stores/theme-page.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add paginator component with functionality
  front/src/app/shared/components/paginator/paginator.html
  front/src/app/shared/components/paginator/paginator.spec.ts
  front/src/app/shared/components/paginator/paginator.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): remove unused JsonPipe import
  front/src/app/shared/components/paginator/paginator.html
  front/src/app/shared/components/paginator/paginator.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): enhance theme list with loading spinner and paginator
  front/src/app/features/admin/themes/theme-list/theme-list.html
  front/src/app/features/admin/themes/theme-list/theme-list.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): replace ConfigService with Config
  front/src/app/app.config.ts
  front/src/app/app.ts
  front/src/app/core/services/config.spec.ts
  front/src/app/core/services/config.ts
  front/src/app/shared/components/debugbar/debugbar.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add easing service with various easing functions
  front/src/app/core/services/easing.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): simplify imports in theme components
  front/src/app/features/admin/themes/components/theme-card/theme-card.ts
  front/src/app/features/admin/themes/theme-list/theme-list.ts
  front/src/app/shared/components/index.ts
  front/src/app/shared/components/paginator/paginator.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add loading bar component and service
  front/src/app/app.html
  front/src/app/app.ts
  front/src/app/core/services/index.ts
  front/src/app/core/services/loading-status.spec.ts
  front/src/app/core/services/loading-status.ts
  front/src/app/shared/components/index.ts
  front/src/app/shared/components/loading-bar/loading-bar.html
  front/src/app/shared/components/loading-bar/loading-bar.spec.ts
  front/src/app/shared/components/loading-bar/loading-bar.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add loading progression interceptor
  front/src/app/core/interceptors/index.ts
  front/src/app/core/interceptors/loading-progression-interceptor.spec.ts
  front/src/app/core/interceptors/loading-progression-interceptor.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): integrate loading progression in theme page
  front/src/app/features/admin/themes/stores/theme-page.ts
  front/src/app/features/admin/themes/theme-list/theme-list.html
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): remove debug log from loading progression
  front/src/app/shared/components/loading-bar/loading-bar.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): remove unused ProgressSpinner import
  front/src/app/features/admin/themes/theme-list/theme-list.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): fix type on app logo files
  front/src/assets/images/quezap-full.svg
  front/src/assets/images/quezap-inkscape.svg
  front/src/assets/images/quezap-logo.svg
Due: none

chore(front): update tailwindcss and postcss versions
  front/bun.lock
  front/package.json
Due: none
