Repository Kwaadpepper/QueZap: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix', sh -c 'cd back && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

style(front): add dist folder to ignore files
  front/.stylelintrc.json
Due: none

feat(front): implement join form for quizz feature
  front/src/app/features/quizz/components/index.ts
  front/src/app/features/quizz/components/join-form/join-form.html
  front/src/app/features/quizz/components/join-form/join-form.spec.ts
  front/src/app/features/quizz/components/join-form/join-form.ts
  front/src/app/features/quizz/pages/join/join.html
  front/src/app/features/quizz/pages/join/join.ts
  front/src/app/features/quizz/services/session/session-mock.ts
  front/src/app/features/quizz/stores/active-session.ts
  front/src/app/features/quizz/stores/index.ts
  front/src/app/features/routes.ts
  front/src/app/pages/home/home.html
  front/src/app/pages/home/home.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add expired session page and routing
  front/src/app/features/quizz/pages/expired/expired.html
  front/src/app/features/quizz/pages/expired/expired.spec.ts
  front/src/app/features/quizz/pages/expired/expired.ts
  front/src/app/features/quizz/routes.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): simplify authentication guards
  front/src/app/core/guards/auth/authenticated-guard.spec.ts
  front/src/app/core/guards/auth/authenticated-guard.ts
  front/src/app/core/guards/auth/unauthenticated-guard.spec.ts
  front/src/app/core/guards/auth/unauthenticated-guard.ts
  front/src/app/core/guards/index.ts
  front/src/app/features/routes.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add active session guards and tests
  front/src/app/features/quizz/guards/has-active-session/has-active-session-guard.spec.ts
  front/src/app/features/quizz/guards/has-active-session/has-active-session-guard.ts
  front/src/app/features/quizz/guards/index.ts
  front/src/app/features/quizz/stores/active-session.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): update session state on session found
  front/src/app/features/quizz/stores/active-session.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): update session handling in guards
  front/src/app/features/quizz/guards/has-active-session/has-active-session-guard.spec.ts
  front/src/app/features/quizz/guards/has-active-session/has-active-session-guard.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add debug button for mocked session code
  front/src/app/features/quizz/components/join-form/join-form.html
  front/src/app/features/quizz/components/join-form/join-form.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add lobby page and active session handling
  front/src/app/features/quizz/pages/lobby/lobby.html
  front/src/app/features/quizz/pages/lobby/lobby.spec.ts
  front/src/app/features/quizz/pages/lobby/lobby.ts
  front/src/app/features/quizz/routes.ts
  front/src/app/features/quizz/services/active-session-persistence/active-session-persistence.spec.ts
  front/src/app/features/quizz/services/active-session-persistence/active-session-persistence.ts
  front/src/app/features/quizz/services/index.ts
  front/src/app/features/quizz/stores/active-session.ts
  front/src/app/features/routes.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add nickname chooser component and logic
  front/src/app/features/quizz/components/join-form/join-form.ts
  front/src/app/features/quizz/components/nickname-chooser/nickname-chooser.html
  front/src/app/features/quizz/components/nickname-chooser/nickname-chooser.spec.ts
  front/src/app/features/quizz/components/nickname-chooser/nickname-chooser.ts
  front/src/app/features/quizz/pages/lobby/lobby.html
  front/src/app/features/quizz/pages/lobby/lobby.ts
  front/src/app/features/quizz/services/active-session-persistence/active-session-persistence.ts
  front/src/app/features/quizz/services/session/session-mock.ts
  front/src/app/features/quizz/services/session/session.ts
  front/src/app/features/quizz/stores/active-session.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): implement session API and observer services
  front/src/app/core/types/service-output.ts
  front/src/app/domain/models/index.ts
  front/src/app/domain/models/participant.ts
  front/src/app/features/quizz/components/join-form/join-form.ts
  front/src/app/features/quizz/pages/join/join.html
  front/src/app/features/quizz/pages/join/join.ts
  front/src/app/features/quizz/pages/lobby/lobby.html
  front/src/app/features/quizz/pages/lobby/lobby.ts
  front/src/app/features/quizz/services/index.ts
  front/src/app/features/quizz/services/session-api/session-api-mock.spec.ts
  front/src/app/features/quizz/services/session-api/session-api-mock.ts
  front/src/app/features/quizz/services/session-api/session-api.ts
  front/src/app/features/quizz/services/session-api/session.mock.ts
  front/src/app/features/quizz/services/session-observer/session-observer-mock.spec.ts
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
  front/src/app/features/quizz/services/session-observer/session-observer.ts
  front/src/app/features/quizz/stores/active-session.ts
  front/src/app/features/routes.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add participant list and nickname chooser
  front/src/app/features/quizz/components/index.ts
  front/src/app/features/quizz/components/nickname-chooser/nickname-chooser.ts
  front/src/app/features/quizz/components/participant-list/participant-list.html
  front/src/app/features/quizz/components/participant-list/participant-list.spec.ts
  front/src/app/features/quizz/components/participant-list/participant-list.ts
  front/src/app/features/quizz/pages/lobby/lobby.css
  front/src/app/features/quizz/pages/lobby/lobby.html
  front/src/app/features/quizz/pages/lobby/lobby.ts
  front/src/app/features/quizz/services/index.ts
  front/src/app/features/routes.ts
  front/src/app/shared/components/participant-icon/participant-icon.css
  front/src/app/shared/components/participant-icon/participant-icon.html
  front/src/app/shared/components/participant-icon/participant-icon.spec.ts
  front/src/app/shared/components/participant-icon/participant-icon.ts
  front/src/assets/images/originals/participant.svg
  front/src/styles/quezap-theme/headings.css
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

feat(front): add questions model and update session observer
  front/src/app/domain/models/index.ts
  front/src/app/domain/models/questions.ts
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
  front/src/app/features/quizz/services/session-observer/session-observer.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): enhance session management and UI components
  front/src/app/domain/models/session.ts
  front/src/app/features/quizz/components/participant-list/participant-list.html
  front/src/app/features/quizz/guards/has-active-session/has-active-session-guard.ts
  front/src/app/features/quizz/pages/join/join.ts
  front/src/app/features/quizz/pages/lobby/lobby.html
  front/src/app/features/quizz/pages/lobby/lobby.ts
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.html
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.spec.ts
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.ts
  front/src/app/features/quizz/routes.ts
  front/src/app/features/quizz/services/session-api/session.mock.ts
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
  front/src/app/features/quizz/services/session-observer/session-observer.ts
  front/src/app/features/quizz/stores/active-session.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): update lobby styles and improve responsiveness
  front/src/app/features/quizz/pages/lobby/lobby.css
  front/src/app/features/quizz/pages/lobby/lobby.html
  front/src/app/features/quizz/pages/lobby/lobby.ts
  front/src/assets/images/ferns.webp
  front/src/assets/images/originals/ferns-opti.webp
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

feat(front): manage session run state in mock service
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): enhance session handling and UI feedback
  front/src/app/features/quizz/components/join-form/join-form.ts
  front/src/app/features/quizz/guards/has-active-session/has-active-session-guard.ts
  front/src/app/features/quizz/pages/join/join.html
  front/src/app/features/quizz/pages/join/join.ts
  front/src/app/features/quizz/routes.ts
  front/src/app/features/quizz/stores/active-session.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): specify error context in mock service
  front/src/app/features/admin/themes/services/theme-mock.ts
  front/src/app/features/quizz/services/session-api/session-api-mock.ts
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add ExpiredError class and update session handling
  front/src/app/core/errors/expired-error.ts
  front/src/app/core/errors/index.ts
  front/src/app/features/quizz/pages/join/join.ts
  front/src/app/features/quizz/pages/lobby/lobby.ts
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.html
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.ts
  front/src/app/features/quizz/services/index.ts
  front/src/app/features/quizz/services/session-api/session-api-mock.ts
  front/src/app/features/quizz/services/session-api/session.mock.ts
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
  front/src/app/features/quizz/services/session.mock.ts
  front/src/app/features/quizz/stores/active-session.ts
  front/src/app/features/routes.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add debug toolbar and ended page components
  front/src/app/features/quizz/components/debug-toolbar/debug-toolbar.html
  front/src/app/features/quizz/components/debug-toolbar/debug-toolbar.spec.ts
  front/src/app/features/quizz/components/debug-toolbar/debug-toolbar.ts
  front/src/app/features/quizz/components/index.ts
  front/src/app/features/quizz/pages/ended/ended.html
  front/src/app/features/quizz/pages/ended/ended.spec.ts
  front/src/app/features/quizz/pages/ended/ended.ts
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.html
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.ts
  front/src/app/features/quizz/routes.ts
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
  front/src/app/features/quizz/services/session-observer/session-observer.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

chore(front): update Prettier configuration and dependencies
  front/.prettierrc
  front/.vscode/extensions.json
  front/bun.lock
  front/package.json
Due: none

fix(front): update import path for ParticipantIcon
  front/src/app/features/quizz/components/participant-list/participant-list.ts
  front/src/app/shared/components/index.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add spinner component and update templates
  front/src/app/features/activation/account-activation/account-activation.html
  front/src/app/features/activation/account-activation/account-activation.ts
  front/src/app/features/quizz/pages/join/join.html
  front/src/app/features/quizz/pages/join/join.ts
  front/src/app/shared/components/index.ts
  front/src/app/shared/components/spinner/spinner.html
  front/src/app/shared/components/spinner/spinner.spec.ts
  front/src/app/shared/components/spinner/spinner.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): handle nickname trimming and undefined values
  front/src/app/features/quizz/stores/active-session.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

style(front): update background positioning and size for responsiveness
  front/src/app/features/quizz/pages/lobby/lobby.css
Due: sh -c 'cd front && npm run lint:css:fix'

refactor(front): update layout settings based on path
  front/src/app/app.html
  front/src/app/app.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add exit button for quizz navigation
  front/src/app/app.html
  front/src/app/app.ts
  front/src/app/features/quizz/components/exit-button/exit-button.html
  front/src/app/features/quizz/components/exit-button/exit-button.spec.ts
  front/src/app/features/quizz/components/exit-button/exit-button.ts
  front/src/app/features/quizz/components/index.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add question components and update runner
  front/src/app/features/quizz/components/question-view/binary/binary-question.html
  front/src/app/features/quizz/components/question-view/binary/binary-question.spec.ts
  front/src/app/features/quizz/components/question-view/binary/binary-question.ts
  front/src/app/features/quizz/components/question-view/boolean/boolean-question.html
  front/src/app/features/quizz/components/question-view/boolean/boolean-question.spec.ts
  front/src/app/features/quizz/components/question-view/boolean/boolean-question.ts
  front/src/app/features/quizz/components/question-view/index.ts
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.html
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.spec.ts
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.ts
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.html
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add debug toolbar styles and titles
  front/src/app/features/quizz/components/debug-toolbar/debug-toolbar.css
  front/src/app/features/quizz/components/debug-toolbar/debug-toolbar.html
  front/src/app/features/quizz/components/debug-toolbar/debug-toolbar.ts
  front/src/app/features/quizz/components/question-view/binary/binary-question.ts
  front/src/app/features/quizz/components/question-view/boolean/boolean-question.ts
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.ts
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.html
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

chore(front): update Angular dependencies to stable version
  front/bun.lock
  front/package.json
Due: none

refactor(front): update validation error types
  front/src/app/core/errors/validation-error.ts
  front/src/app/shared/directives/field-error.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

chore(front): update dependencies for better performance
  front/bun.lock
Due: none

feat(front): add confirmation popup for exiting quiz
  front/src/app/features/quizz/components/exit-button/exit-button.html
  front/src/app/features/quizz/components/exit-button/exit-button.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add question timer component
  front/src/app/features/quizz/components/question-view/parts/index.ts
  front/src/app/features/quizz/components/question-view/parts/timer/question-timer.html
  front/src/app/features/quizz/components/question-view/parts/timer/question-timer.spec.ts
  front/src/app/features/quizz/components/question-view/parts/timer/question-timer.ts
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

style(front): update button severity levels
  front/src/app/features/quizz/components/debug-toolbar/debug-toolbar.html
Due: sh -c 'cd front && npm run lint:ts:fix'

style(front): center align title in join session page
  front/src/app/features/quizz/pages/join/join.html
Due: sh -c 'cd front && npm run lint:ts:fix'

style(front): reorder class attributes for consistency
  front/src/app/features/quizz/components/participant-list/participant-list.html
Due: sh -c 'cd front && npm run lint:ts:fix'

style(front): format HTML for better readability
  front/src/app/features/quizz/pages/lobby/lobby.html
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add picture property to question types
  front/src/app/features/quizz/services/session-observer/session-observer-mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): implement question components and styles
  front/src/app/features/quizz/components/question-view/binary/binary-question.ts
  front/src/app/features/quizz/components/question-view/boolean/boolean-question.html
  front/src/app/features/quizz/components/question-view/boolean/boolean-question.ts
  front/src/app/features/quizz/components/question-view/parts/index.ts
  front/src/app/features/quizz/components/question-view/parts/picture/picture.html
  front/src/app/features/quizz/components/question-view/parts/picture/picture.spec.ts
  front/src/app/features/quizz/components/question-view/parts/picture/picture.ts
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.html
  front/src/app/features/quizz/components/question-view/quizz/quizz-question.ts
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.html
  front/src/app/features/quizz/pages/quizz-runner/quizz-runner.ts
  front/src/styles/quezap-theme/index.css
  front/src/styles/quezap-theme/questions.css
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

Path conditions:
  sh -c 'cd front && npm run lint:ts:fix': any of: **/*.{ts,html}
  sh -c 'cd front && npm run lint:css:fix': any of: **/*.css
  sh -c 'cd back && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon': (any of: **/*.gradle.kts) or (any of: **/*.java)
