Repository Kwaadpepper/QueZap: changes, and which lint-staged commands are due for each by the changed paths.
All: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix', sh -c 'cd back && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon'

feat(front): improve reset password flow with token verification
  front/src/app/features/auth/pages/reset-password/reset-password.html
  front/src/app/features/auth/pages/reset-password/reset-password.spec.ts
  front/src/app/features/auth/pages/reset-password/reset-password.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add jest run mode configuration
  front/.vscode/settings.json
Due: none

style(front): add classes to site navigation component
  front/src/app/layout/navigation/site-nav/site-nav.html
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): enhance app initialization and error handling
  front/src/app/app.initializer.ts
  front/src/app/features/auth/pages/login/login.ts
  front/src/app/features/auth/services/authentication/authentication-mock.spec.ts
  front/src/app/features/auth/services/authentication/authentication-mock.ts
  front/src/app/shared/stores/authenticated-user.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): improve error logging during bootstrap
  front/src/main.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): implement handled front error management
  front/src/app/core/errors/global-error-handler.ts
  front/src/app/core/errors/handled-front-error.ts
  front/src/app/core/errors/index.ts
  front/src/app/features/auth/components/logout-button/logout-button.ts
  front/src/app/features/auth/components/reset-password-form/reset-password-form.ts
  front/src/app/features/auth/pages/forgotten-password/forgotten-password.ts
  front/src/app/features/auth/pages/login/login.ts
  front/src/app/features/auth/pages/reset-password/reset-password.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add spinner styles for loading indicators
  front/src/app/features/activation/account-activation/account-activation.ts
  front/src/styles/quezap-theme/index.css
  front/src/styles/quezap-theme/spinner.css
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

feat(front): improve registration error handling
  front/src/app/features/admin/account/components/register-modal/register-modal.ts
  front/src/app/features/admin/account/services/register-mock.ts
  front/src/app/features/admin/account/services/register.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): improve error handling for registration
  front/src/app/features/admin/account/components/register-modal/register-modal.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): enhance account activation error handling
  front/src/app/features/activation/account-activation/account-activation.html
  front/src/app/features/activation/account-activation/account-activation.ts
  front/src/app/features/activation/services/activation-account-mock.ts
  front/src/app/features/activation/services/activation-account.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add TODO for form responsiveness check
  front/TODO.md
Due: none

fix(front): improve error handling structure
  front/src/app/core/errors/global-error-handler.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

style(front): refine loading screen styles
  front/src/index.html
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): update error message for initialization
  front/src/app/app.initializer.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): remove debug log from page change event
  front/src/app/shared/components/paginator/paginator.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): remove debug log from pagination change
  front/src/app/features/admin/themes/pages/theme-list/theme-list.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): update theme service to handle errors
  front/src/app/features/admin/themes/services/theme-mock.ts
  front/src/app/features/admin/themes/services/theme.ts
  front/src/app/features/admin/themes/stores/theme-page.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): replace alert with confirm for error handling
  front/src/app/app.initializer.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): update logout button implementation
  front/src/app/app.html
  front/src/app/features/auth/components/logout-button/logout-button.html
  front/src/app/features/auth/components/logout-button/logout-button.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): add accessibility titles for paginator buttons
  front/src/app/shared/components/paginator/paginator.html
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): update MOCK_ERROR to no probabilty on authService:me method
  front/src/app/features/auth/services/authentication/authentication-mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add theme editor and update theme card
  front/src/app/features/admin/themes/components/index.ts
  front/src/app/features/admin/themes/components/theme-card/theme-card.html
  front/src/app/features/admin/themes/components/theme-card/theme-card.ts
  front/src/app/features/admin/themes/components/theme-editor/theme-editor.html
  front/src/app/features/admin/themes/components/theme-editor/theme-editor.spec.ts
  front/src/app/features/admin/themes/components/theme-editor/theme-editor.ts
  front/src/app/features/admin/themes/pages/theme-list/theme-list.html
  front/src/app/features/admin/themes/services/theme-mock.ts
  front/src/app/features/admin/themes/services/theme.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): update VSCode configurations for bun
  front/.vscode/extensions.json
  front/.vscode/launch.json
  front/.vscode/tasks.json
Due: none

fix(front): update mock theme IDs
  front/src/app/features/admin/themes/services/theme.mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): switch from sessionStorage to localStorage
  front/src/app/features/auth/services/token-persistance/token-persitance.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): update launch configuration for Firefox
  front/.vscode/launch.json
Due: none

fix(front): remove reloadOnChange configuration
  front/.vscode/launch.json
Due: none

feat(front): enhance theme management functionality
  front/src/app/features/admin/themes/components/theme-card/theme-card.html
  front/src/app/features/admin/themes/components/theme-editor/theme-editor.html
  front/src/app/features/admin/themes/components/theme-editor/theme-editor.ts
  front/src/app/features/admin/themes/pages/theme-list/theme-list.html
  front/src/app/features/admin/themes/pages/theme-list/theme-list.ts
  front/src/app/features/admin/themes/services/theme-mock.ts
  front/src/app/features/admin/themes/services/theme.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

fix(front): change task presentation reveal setting
  front/.vscode/tasks.json
Due: none

refactor(front): update theme-related types and logic
  front/src/app/domain/types/common.ts
  front/src/app/features/admin/themes/components/theme-card/theme-card.ts
  front/src/app/features/admin/themes/components/theme-editor/theme-editor.ts
  front/src/app/features/admin/themes/pages/theme-list/theme-list.html
  front/src/app/features/admin/themes/services/theme.mock.ts
  front/src/app/features/auth/services/authentication/authentication-mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): replace 'id' with 'uuid' in theme model
  front/src/app/domain/models/theme.ts
  front/src/app/features/admin/themes/components/theme-card/theme-card.ts
  front/src/app/features/admin/themes/components/theme-editor/theme-editor.ts
  front/src/app/features/admin/themes/pages/theme-list/theme-list.html
  front/src/app/features/admin/themes/services/theme-mock.ts
  front/src/app/features/admin/themes/services/theme.mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

chore(front): add schematics configuration for components
  front/angular.json
Due: none

chore(front): disable analytics in CLI configuration
  front/angular.json
Due: none

refactor(front): simplify header and layout logic
  front/src/app/app.css
  front/src/app/app.html
  front/src/app/app.ts
  front/src/app/shared/components/debugbar/debugbar.ts
Due: sh -c 'cd front && npm run lint:ts:fix', sh -c 'cd front && npm run lint:css:fix'

refactor(front): replace 'uuid' with 'id' in theme model as ThemeId
  front/src/app/domain/models/theme.ts
  front/src/app/features/admin/themes/components/theme-card/theme-card.ts
  front/src/app/features/admin/themes/components/theme-editor/theme-editor.ts
  front/src/app/features/admin/themes/pages/theme-list/theme-list.html
  front/src/app/features/admin/themes/services/theme-mock.ts
  front/src/app/features/admin/themes/services/theme.mock.ts
  front/src/app/features/admin/themes/services/theme.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): replace 'uuid' with 'id' in AuthenticatedUser
  front/src/app/domain/models/authenticated-user.ts
  front/src/app/features/auth/services/authentication/authentication-mock.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): implement themes event bus for updates
  front/src/app/features/admin/themes/components/theme-card/theme-card.html
  front/src/app/features/admin/themes/components/theme-card/theme-card.ts
  front/src/app/features/admin/themes/components/theme-editor/theme-editor.ts
  front/src/app/features/admin/themes/pages/theme-list/theme-list.html
  front/src/app/features/admin/themes/pages/theme-list/theme-list.ts
  front/src/app/features/admin/themes/services/index.ts
  front/src/app/features/admin/themes/services/theme-mock.ts
  front/src/app/features/admin/themes/services/themes-event-bus.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

feat(front): add session management and join functionality
  front/src/app/core/errors/index.ts
  front/src/app/core/errors/not-found-error.ts
  front/src/app/domain/models/index.ts
  front/src/app/domain/models/session.ts
  front/src/app/features/quizz/pages/join/join.html
  front/src/app/features/quizz/pages/join/join.spec.ts
  front/src/app/features/quizz/pages/join/join.ts
  front/src/app/features/quizz/routes.ts
  front/src/app/features/quizz/services/index.ts
  front/src/app/features/quizz/services/session/session-mock.spec.ts
  front/src/app/features/quizz/services/session/session-mock.ts
  front/src/app/features/quizz/services/session/session.mock.ts
  front/src/app/features/quizz/services/session/session.ts
  front/src/app/features/routes.ts
  front/src/app/pages/home/home.html
  front/src/app/pages/home/home.ts
  front/src/app/shared/directives/field-error.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): remove unused theme service references
  front/src/app/app.config.ts
  front/src/app/features/admin/routes.ts
  front/src/app/features/admin/themes/stores/theme-page.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

refactor(front): remove mock service from account activation
  front/src/app/features/activation/account-activation/account-activation.ts
  front/src/app/features/activation/routes.ts
Due: sh -c 'cd front && npm run lint:ts:fix'

Path conditions:
  sh -c 'cd front && npm run lint:ts:fix': any of: **/*.{ts,html}
  sh -c 'cd front && npm run lint:css:fix': any of: **/*.css
  sh -c 'cd back && ./gradlew checkstyleMain checkstyleTest spotlessCheck --no-daemon': (any of: **/*.gradle.kts) or (any of: **/*.java)
